# infrastructure/cloudtrail-s3-dynamodb/terraform.tfvars.example
aws_region = "us-east-2"

# infrastructure/demo-actors/terraform/terraform.tfvars.example
aws_region  = "us-east-2"
account_id  = "YOUR_ACCOUNT_ID"